

html {
    box-sizing: border-box;
    font-family: Lucida Console, sans serif;
    background-color: darkgray;
}

body {
    background: gray;
    margin: 0;
    line-height: 1.4;
}

.container {
    display: grid;
    grid-gap: 10px;
}

@media screen and (min-width: 960px) {
    body {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}


/***TOP SECTION***/

.header-inside {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: 60px;
    grid-gap: 5px;
    background: #525560;
    border-bottom: solid;
    border-color: #232529;
    border-width: 5px
}

.header-inside img {
    grid-area: logo;
    grid-column: 1;
    grid-row: 1;
    min-height: 120px;

}

.header-inside h1 {
    grid-area: title;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 42px;
    text-shadow: 0 0 3px darkblue;
    position: relative;
    height: 75px;
    left: -5px;
    margin: 0;
    padding: 0;
}

.header-inside h2 {
    grid-area: subtitle;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    position: relative;
    left: -5px;
    margin: 0;
    padding: 0;
}

/***MID SECTION***/

.mid-section {
    display: grid;
}
.mid-section img {
    max-width: 100%;
    height: auto;
}



/***BOTTOM SECTION***/
.bottom-section{
    display: grid;
    background: #323;
}

.legal {

}




