/***GENERAL***/

* {
  margin-top: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Lucida Console, sans serif;
  background-color: gray;
}

body {
  background: #27272c;
  line-height: 1.4;
  border: solid;
  border-width: 3px;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
}

/***TOP SECTION***/

.header-inside {
  margin: 0;
  display: -ms-grid;
  display: grid;
  margin: .4em;
  grid-auto-rows: 3.75em;
  background: #525560;
  border: solid;
  border-color: #17171c;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.header-inside h1 {
  display: block;
  -ms-grid-column: 2;
      grid-column: 2;
  -ms-grid-row: 1;
      grid-row: 1;
  text-align: right;
  font-size: 2.625em;
  color: #ff6600;
  text-shadow: 0 0 4px black;
}

.header-inside h2 {
  display: block;
  -ms-grid-column: 2;
      grid-column: 2;
  -ms-grid-row: 2;
      grid-row: 2;
  text-align: right;
  font-size: 1.25em;
}

.badges {
  display: block;
  margin: auto 2%;
}

#linkedin>img {
  margin: 2% auto;
  margin-right: .5em;
  width: 2.5em;
  float: left;
}

#github>img {
  margin: 2% auto;
  margin-right: .5em;
  width: 2.5em;
  float: left;
}

#gmail>img {
  margin: 2% auto;
  margin-right: .5em;
  width: 2.5em;
  float: left;
}

/***BOTTOM SECTION***/
.biopic {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#me {
  margin: .5em;
  max-width: 15em;
  max-height: 15em;
  border-radius: 10%;
  box-shadow: 0 0 .5em black;
}

#bio {
  margin: .5em;
  width: 100%;
  color: white;
  text-align: left;
  line-height: 1.2em;
  font-size: 1.1em;
}

.bio-section {
  margin: .4em;
  background: #27272c;
  border: solid;
  border-color: #17171c;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.bottom-section {
  margin: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #27272c;
  border: solid;
  border-color: #17171c;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.bottom-section h2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff6600;
}

.bottom-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.bottom-section img:hover {
  -webkit-filter: blur(1px) grayscale(100%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: blur(1px) grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=1) gray;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff6600
}

.project-link:hover {
  color: white;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: white;
}

#featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #ff6600;
  text-decoration: underline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.box {
  width: 100%;
  margin: 10px;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/***MEDIA QUERIES***/

@media screen and (min-width: 960px) {

  body {
    width: 59em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {

  .bottom-section h2 {
    font-size: 1em;
  }

  .project-link {
    font-size: 0.625em;
  }

  footer {
    font-size: 0.75em;
  }

  .header-inside {
    grid-auto-rows: 1.875em;
  }

  .header-inside h1 {
    font-size: 1.75em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }

  .header-inside h2 {
    font-size: 1em;
  }

  #featured {
    font-size: 1.5em;
  }

  .description {
    font-size: 0.75em;
  }

  #me {
    max-width: 10em;
    max-height: 10em;
    box-shadow: 0 0 .4em black;
  }

  #bio {
    line-height: 1.1em;
    font-size: .8em;
  }
}

@media screen and (max-width: 500px) {

  .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bottom-section h2 {
    font-size: 1.5em;
  }

  .project-link {
    font-size: 0.75em;
  }

  footer {
    font-size: 0.75em;
  }

  #featured {
    font-size: 2em;
    border-bottom: groove;
    border-width: 0.2125em;
    border-color: #17171c;
  }

  #linkedin>img {
    width: 1.4em;
  }

  #github>img {
    width: 1.4em;
  }

  #gmail>img {
    width: 1.4em;
  }

  #me {
    max-width: 8em;
    max-height: 8em;
    box-shadow: 0 0 .4em black;
  }

  #bio {
    line-height: 1em;
    font-size: .7em;
  }
}

@media screen and (max-width: 400px) {

  .header-inside h1 {
    font-size: 1.2em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }

  .header-inside h2 {
    font-size: 0.75em;
  }

  .bottom-section h2 {
    font-size: 18px;
  }

  .project-link {
    font-size: 0.625em;
  }

  footer {
    font-size: 0.75em;
  }

  #featured {
    font-size: 1.75em;
  }

  .description {
    font-size: 0.625em;
  }

  #linkedin>img {
    width: 1.5em;
  }

  #github>img {
    width: 1.5em;
  }

  #gmail>img {
    width: 1.5em;
  }

  #me {
    max-width: 5em;
    max-height: 5em;
    box-shadow: 0 0 .4em black;
  }

  #bio {
    line-height: 1.1em;
    font-size: .5em;
  }
}

@media screen and (max-width: 275px) {

  .header-inside h1 {
    font-size: 1em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }

  .header-inside h2 {
    font-size: 0.55em;
  }

  .header-inside {
    grid-auto-rows: 1.25em;
  }

  #linkedin>img {
    width: 1em;
  }

  #github>img {
    width: 1em;
  }

  #gmail>img {
    width: 1em;
  }
}
