/***GENERAL***/
html {
    box-sizing: border-box;
    font-family: Lucida Console, sans serif;
    background-color: #27272c;
}

body {
    background: #27272c;
    margin: 0;
    line-height: 1.4;
}

.container {
    display: grid;
    grid-gap: 10px;
}

/***TOP SECTION***/
.header-inside {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: 60px;
    grid-gap: 5px;
    background: #525560;
    border: solid;
    border-color: #17171c;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    margin: 5px;
}

.header-inside img {
    grid-column: 1;
    grid-row: 1;
    max-height: 120px;
}

.header-inside h1 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 42px;
    color: #ff6600;
    text-shadow: 0 0 5px black;
    position: relative;
    height: 75px;
    left: -5px;
    margin: 0;
    padding: 0;
}

.header-inside h2 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    position: relative;
    left: -5px;
    margin: 0;
    padding: 0;
}

/***MID SECTION***/
.mid-section {
    display: grid;
    border: solid;
    border-color: #17171c;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    margin: 5px;
}
.mid-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/***BOTTOM SECTION***/
.bottom-section {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 10px;
    background: #27272c;
    border: solid;
    border-color: #17171c;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    margin: 5px;
}

.bottom-section h2 {
    display: flex;
    justify-content: center;
    color: #ff6600;
    margin: 0;
    padding: 0;
}

.bottom-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: 0;
    padding: 0;
}

.box {
}

.bottom-section img:hover {
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
}


.project-link {
    display: flex;
    justify-content: center;
    color: #ff6600
}

.project-link:hover {
    color: white;
}

.box {
    grid-row: 1;
    margin: 10px;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
}

/***MEDIA QUERIES***/
@media screen and (min-width: 960px) {
    body {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {

    .bottom-section h2 {
        font-size: 16px;
    }

    .project-link {
        font-size: 10px;
    }

    footer {
        font-size: 12px;
    }

    .header-inside {
        grid-auto-rows: 30px;
    }

    .header-inside h1 {
        font-size: 28px;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .header-inside h2 {
        font-size: 16px;
    }

    .header-inside img {
        height: 60px;

    }

}

@media screen and (max-width: 500px) {

    .bottom-section {
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-section h2 {
        font-size: 24px;
    }

    .project-link {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    @media screen and (max-width: 400px) {

    .bottom-section h2 {
        font-size: 18px;
    }

    .project-link {
        font-size: 10px;
    }

    footer {
        font-size: 12px;
    }
}
