body{
  margin: 0;
  padding: 0;
  font-family: $fontPrimary;
  color: color(primaryFont);
  background: linear-gradient(180deg, rgb(40, 40, 40), black 5%);
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}
