body {
  margin: 0 ;
  background: linear-gradient(45deg, rgb(29, 33, 39) 30%, color(primary) 100%) no-repeat;
  box-shadow: 15px 15px 20px 8px rgba(0, 0, 0, 0.233);
  border: 1px solid rgb(24, 24, 24);
  font-family: $fontPrimary;
  color: color(secondary);
}