html {
  margin: auto 5em;
  height: 100%;
  background: linear-gradient(45deg, color(primary) 20%, rgb(34, 39, 46) 100%) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 5em auto;
  background: linear-gradient(45deg, rgb(29, 33, 39) 30%, color(primary) 100%) no-repeat;
  box-shadow: 15px 15px 20px 8px rgba(0, 0, 0, 0.233);
  border: 1px solid rgb(24, 24, 24);
  font-family: $fontPrimary;
  color: color(secondary);
}