&__badge {
  vertical-align: middle;
  margin: auto 1em;
  width: 3em;
  height: 3em;
}

&__badges {
  display: flex;
  justify-content: center;
  align-content: center;
  width: calc(100vw - (100vw - 100%));
  line-height: 5em;
  text-align: center;
  background: rgb(40, 40, 40);
}

&__trade {
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}