$colors: (primaryBackground: rgb(0, 0, 0),
secondaryBackground: rgb(29, 29, 29),
primaryFont: rgb(197, 197, 197));


// Return color 
@function color($color-name) {
  @return map-get($colors, $color-name)
}