&__sectionhead {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4em;
}

&__projects {
  padding: .8em;
  display: grid;
  grid-template-columns: 25.5em 25.5em 25.5em;
  grid-template-rows: 20em 20em;
  justify-content: center;
}

&__app {
  align-self: center;
  justify-self: center;
  width: 20em;
  height: auto;
}

&__bio {
  padding: .8em;

}

&__history {
  padding: .8em;

}

&__education {
  padding: .8em;

}