&__sectionhead {
  position: relative;
  top: .4em;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
  font-size: 3em;
}

&__projects {
  width: calc(100vw - (100vw - 100%));
  height: 50em;
  background: linear-gradient(0deg, rgb(17, 17, 17) 20%, color(primaryBackground) 100%);
  display: grid;
  grid-template-columns: 25.5em 25.5em 25.5em;
  grid-template-rows: 20em 20em;
  grid-gap: .5em;
  justify-content: center;
  align-content: center;
}

&__app {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  border: 2px white solid;
}

&__bio {
  width: calc(100vw - (100vw - 100%));
  height: 50em;
  background: linear-gradient(0deg, rgb(22, 16, 16) 20%, rgb(17, 17, 17) 100%);
  display: grid;
  grid-template-columns: 30em 30em;
  grid-template-rows: 40em;
  grid-gap: 5em;
  justify-content: center;
  align-content: center;
}

&__about {
  margin: 0;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border: 2px white solid;
}

&__toolset {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 2px white solid;
}

&__experience {
  width: calc(100vw - (100vw - 100%));
  height: 30em;
  display: grid;
  grid-template-columns: 50em;
  grid-template-rows: auto;
  grid-gap: 1em;
  background: linear-gradient(0deg, rgb(4, 13, 15) 20%, rgb(22, 16, 16) 100%);
  justify-content: center;
  align-content: center;
}

&__job {
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  border-bottom: 2px rgb(134, 134, 134) solid;
}

&__job:last-of-type {
  border-bottom: 0;
}

&__who--date {
  display: block;
  font-size: .6em;
}

&__who {
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}


&__description {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
}

&__education {
  width: calc(100vw - (100vw - 100%));
  height: 40em;
  display: grid;
  grid-template-columns: 50em;
  grid-template-rows: auto;
  grid-gap: 1em;
  background: linear-gradient(0deg, rgb(11, 30, 34) 20%, rgb(4, 13, 15) 100%);
  justify-content: center;
  align-content: center;
}

&__class {
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  border-bottom: 2px rgb(134, 134, 134) solid;
}

&__class:last-of-type {
  border-bottom: 0;
}