&__header {
  margin-bottom: 5em;
  margin-top: 5em;
  width: calc(100vw - (100vw - 100%));
  text-align: center;
  justify-content: center;
}

&__intro {
  align-self: center;
}

&__image--profile {
  margin: auto 2em;
  width: 10em;
  height: auto;
  border-radius: 50%;
}

&__fullname {
  margin: 0;
  font-size: 3.5em;
}

&__title {
  margin: 0;
  font-size: 2em;
  font-family: $fontSecondary;
}

&__location {
  margin: 0;
  font-size: 1.5em;
  font-family: $fontSecondary;
}

&__introbadges {
  margin-top: 1em;
}