&__navigation {
  position: fixed;
  width: calc(100vw - (100vw - 100%));
  text-align: left;
  color: color(secondary);
  font-weight: $navFontWeight;
  font-size: $navFontSize;
}

&__list {
  margin: 0;
  list-style: none;
}

&__item {
  display: inline-block;
  padding-right: $navPadding;
}