&__navigation {
  position: fixed;
  color: color(secondary);
  font-weight: $navFontWeight;
  font-size: $navFontSize;
}

&__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

&__item {
  display: inline-block;
  padding-right: $navPadding;
}

&__item--logo {
  float: left;
  padding-left: $navPadding;
  padding-right: $navPadding;
}