&__projects {
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  outline: 2px rgb(110, 110, 110) solid;
  background-color: #000;
}

&__app {
  justify-self: center;
  align-self: center;
  width: 20em;
}