&__projects {
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  outline: 2px rgb(110, 110, 110) solid;
  box-shadow: 15px 15px 10px 2px rgba(0,0,0,0.62);
  background-color: #000;
}

&__app {
  justify-self: center;
  align-self: center;
  width: 20em;
  outline: 1px white dotted;
}