&__skills {
  margin-bottom: 5em;
  margin-left: 5em;
  width: 30em;
  float: left;
  clear: both;
  outline: 2px rgb(110, 110, 110) solid;
  box-shadow: 15px 15px 10px 2px rgba(0,0,0,0.62);
  background-color: #000;
}

&__skillset {
  margin: .5em;
  list-style: none;
  text-align: left;
  font-family: $fontSecondary;
  font-size: 1.3em;
}

&__skillhead {
  margin: 1em;
  text-align: left;
  font-family: $fontSecondary;
}

&__skillfoot {
  margin: 1em;
  text-align: left;
  font-family: $fontSecondary;
}